@use './scss/' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html{
  font-size: 100%;
  @include tablet{
    font-size: 80%;
  }

  @include mobile{
    font-size: 60%;
  }
}

body{
  font-family: $font-family;
  line-height: 1.5;

  background-color: $body-bg;
  color:$txt-color;

  @include mobile{
    margin-bottom: 3rem;
  }
}


a{
  text-decoration: none;
  color:unset;
}


@media (hover: hover) {
  a:hover {
      color: $main-color;
  }
}


button,input{
  outline:0;
}

ul{
  list-style-type: none;
}

img{
  max-width: 100%;
}

iframe{
  border:0;
}

.container {
  max-width: 1660px;
  margin:auto;

}

.mb-3{
  margin-bottom: 3rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.section{
  padding:0 2rem;
}

.section__header{
  @include flex(center,space-between);
}


// loading icon

.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.text-fill {
  background-color: aliceblue;
  font-size: 10vw;
  text-transform: uppercase;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation-name: scaling;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.text-fill::before{
  content: attr(data-title);
  background:linear-gradient(#f107ba,#155af0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  background-clip: text;
  animation-name: filling;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes filling {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes scaling {
  0%{
    transform: scale(1);
  }
  // 25%{
  //   transform: scale(1.5);
  // }
  // 50%{
  //   transform: scale(6) translateX(30%);
  // }
  // 75%{
  //   transform: scale(3);
  // }
  100%{
    transform: scale(12) translateX(40%) ;
  }
}